# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
#include<stdio.h>

main()
{
    printf("Hello World!!! Best regards to all ScavHunters2014, and especially to freelancer.com");
    return 0;

}
