# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
#include<stdio.h>

main()
{
    printf("Hello World!!! Best regards for all scavenger hunters, and specially for FREELANCER!");


}
